html {
scroll-behavior : smooth; 
}

.jumbotron{
	background-color: #C3A187;
	border-radius: 0;
}

h1{
	font-family: 'Homemade Apple', cursive;
	font-size: 50px;
}

*{
	font-family: 'Caveat', cursive;
	font-size: 20px;
}

#portfolio{
	background-color: #AFC7D9;
}

#about-me{
	background-color: #D9C1AF;

}

.footer{
	background-color: #AFC7D9;
}

#nav{
	background-color: #AFC7D9;
}

.card-title {
	text-align: center;
}

p{
	text-align: center;
}

.test
{
   scroll-behavior: smooth;
}

.card{
	
	border-radius: 8px;
	box-shadow: 0 0 20px 10px rgba(233,144,7,0.7);

}


